/* src/App.css */
.appRoot {
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-main);
}

.appInner {
  max-width: none;
  margin: 0 auto;
  padding: none;
}

/* @media (min-width: 1024px) {
  .appInner {
    padding: 0;
  }
} */